extends layout

block content
  #driverPage
    a(href="./") Back
    h1 Welcome #{title}! 
    h2 Please enter your Driver name, as well as the ID of an item order to pick up from the table below.

    .Form#driverForm
      form(method="POST")
        label(for="driverName") Driver Name: 
        br
        input(type="text", id="driverName", name="driverName")
        br
        label(for="i_request_id") Item Order ID: 
        br
        input(type="text", id="i_request_id", name="i_request_id")
        br
        input(type="submit", name="")
    p #{driverName}
    p #{itemID}

    table#itemsTable
      thead
        tr
          th ID
          th Name
          th Quantity
          th Destination Street
          th Destination City
          th Destination State Code
          th Destination ZIP
          th Current Street
          th Current City
          th Current State Code
          th Current ZIP
      tbody
        tr

    p#hiddenItemsData(style="display: none") #{itemsData}

block scripts
  script(src="/javascripts/tableGenerator.js")
  script(src="/javascripts/driverForm.js")
