extends layout

block content
  #StartPage
    h1 Welcome to the Natural Disaster Resource Management System
    h2 Which type of user are you?
    ul
      a(href="/create_user"): li Create User
      a(href="/fema_director/items"): li Fema Director
      a(href="/supplier"): li Supplier
      a(href="/driver"): li Driver
      a(href="/skilled_worker"): li Skilled Worker