extends layout

block content
  #workerPage
    a(href="/") Back
    h1 Welcome #{title}! 
    h2 Please enter your name, as well as the ID of a work order to commit to from the table below.

    .Form#workerForm
      form(method="POST")
        label(for="workerName") Name: 
        br
        input(type="text", id="workerName", name="workerName")
        br
        label(for="l_request_id") Work Order ID: 
        br
        input(type="text", id="l_request_id", name="l_request_id")
        br
        label(for="l_volunteer") Laborer ID: 
        br
        input(type="text", id="l_volunteer", name="l_volunteer")
        br
        input(type="submit", name="")
    p #{workerName}
    p #{workID}

    table#laborTable
      thead
        tr
          th ID
          th Description
          th Begin Date
          th End Date
          th Street
          th City
          th State Code
          th ZIP
      tbody
        tr

    br

    a(href="/skilled_worker/view") View Committed Labor Orders

    p#hiddenItemsData(style="display: none") #{itemsData}

block scripts
  script(src="/javascripts/tableGenerator.js")
  script(src="/javascripts/workerForm.js")
