extends layout

block content
  #workerPage
    a(href="./") Back
    h1 Welcome #{title}! 
    h2 Please enter your name, as well as the ID of a work order to commit to from the table below.

    .Form#workerForm
      form(method="POST")
        label(for="workerName") Name: 
        br
        input(type="text", id="workerName", name="workerName")
        br
        label(for="laborID") Work Order ID: 
        br
        input(type="text", id="laborID", name="laborID")
        br
        input(type="submit", name="")
    p #{workerName}
    p #{workID}

    table#laborTable
      thead
        tr
          th ID
          th Name
          th Start Date
          th End Date
          th Address
      tbody
        tr

    p#hiddenItemsData(style="display: none") #{itemsData}

block scripts
  script(src="/javascripts/tableGenerator.js")
  script(src="/javascripts/workerForm.js")
